.git
.github

venv
.venv

frontend/node_modules
frontend/dist

__pycache__
*.pyc
*.pyo

.DS_Store

.env
.env.*
backend/.env

*.before-*
*.after-*-backup
*.backup
*.bak

*.zip
*.tar
*.tar.gz

ml/dataset
ml/dataset_v2
ml/dataset_v2_balanced
ml/external_datasets

runs
ml/dataset_v6_unknown3
ml/test_inputs
